

<div class="container">
  <div class="control-panel">
    <h2>Control de Alarma</h2>
    <div *ngIf="estadoAlarma !== undefined">
      <p>Estado de la alarma: {{ estadoAlarma ? 'Encendida' : 'Apagada' }}</p>
    </div>
    <label class="switch">
      <input type="checkbox" [(ngModel)]="estadoAlarma" (change)="toggleAlarma()">
      <span class="slider round"></span>
    </label>
  </div>

  <div class="control-panel">
    <h2>Control de la luz</h2>
    <div *ngIf="estadoLuz !== undefined">
      <p>Estado de la luz: {{ estadoLuz ? 'Encendida' : 'Apagada' }}</p>
    </div>
    <label class="switch">
      <input type="checkbox" [(ngModel)]="estadoLuz" (change)="toggleLuz()">
      <span class="slider round"></span>
    </label>
  </div>

  <div class="control-panel">
    <h2>Control de la Puerta</h2>
    <div *ngIf="estadoPuerta !== undefined">
      <p>Estado de la puerta: {{ estadoPuerta ? 'Abierta' : 'Cerrada' }}</p>
    </div>
    <label class="switch">
      <input type="checkbox" [(ngModel)]="estadoPuerta" (change)="togglePuerta()">
      <span class="slider round"></span>
    </label>
  </div>

  <div class="control-panel">
    <h2>Control del aire acondicionado</h2>
    <div *ngIf="estadoAire !== undefined">
      <p>Estado del aire acondicionado: {{ estadoAire ? 'Encendido' : 'Apagado' }}</p>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="estadoAire" (change)="toggleAire()">
        <span class="slider round"></span>
      </label>
    </div>
    <div *ngIf="estadoAire">
      <p>Temperatura: {{ temperaturaAire }} °C</p>
      <div class="temperature-controls">
        <button (click)="cambiarTemperatura(1)">+</button>
        <input type="number" [(ngModel)]="temperaturaAire" (change)="actualizarTemperatura()" min="16" max="40">
        <button (click)="cambiarTemperatura(-1)">-</button>
      </div>
    </div>
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>
